.title {
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
  text-align: center;
}

.text {
  color: rgb(255, 20, 20);
}

.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #000;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  text-align: center;
}
